@model IEnumerable<PersonResponse>

@{ Layout = null; }

@*http://localhost:5000/StyleSheet.css*@
<link href="@($"http://{Context.Request.Host.ToString()}{"/StyleSheet.css"}")" rel="stylesheet"/>

<h1>Persons</h1>
<table class="table w-100 mt">
       <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Country</th>
                <th>Address</th>
                <th>Received News Letter</th>
            </tr>
       </thead>
       <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Email</td>
                    <td>@person.BirthDate?.ToString("dd-MM-yyyy")</td>
                    <td>@person.Age</td>
                    <td>@person.Address</td>
                    <td>@person.Gender</td>
                    <td>@person.Country</td>
                    <td>@person.ReceivedNewsLetter</td>
                </tr>
            }
       </tbody>
</table>
